:root {
    --gray-900: #04091D;
    --gray-800: #1D2236;
    --gray-700: #373C50;
    --gray-600: #505569;
    --gray-500: #6A6F83;
    --gray-400: #83889C;
    --gray-300: #9DA2B6;
    --gray-200: #B6BBCF;
    --gray-100: #E9EBF0;
    --gray-050: #F9F9F9;

    --primary-900-color: #063474;
    --primary-800-color: #0A498C;
    --primary-700-color: #1167AE;
    --primary-600-color: #1889D0;
    --primary-500-color: #22b0f3;
    --primary-400-color: #57CEF7;
    --primary-300-color: #79E2FB;
    --primary-200-color: #A6F2FD;
    --primary-100-color: #D2FBFE;
    --primary-050-color: #EDFDFF;

    --hero-one-color: #A8D1F1;
    --hero-two-color: #D2E9F8;

    --gradient-color: linear-gradient(182.64deg, rgba(241, 248, 253, 0.64) -26.47%, #F1F8FD 56.61%, #FFFFFF 98.25%);
}









